.amazon_card{
    background-color: rgb(253, 209, 19);
    height: 36px;
    width: 150px;
    border-radius: 18px;
    border-color:rgb(253, 209, 19);
    border-style: solid;
}
.amazon_card:hover{
    background-color: black;
    color: yellow;
    border-style: solid;

}
.amazon_card:active{
    background-color: rgb(180, 180, 111);
    opacity:0.9;
}